<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm currently finishing my PhD! I study the effect of sea level rise on coastal marshes, especially large-scale marshes loss. <a href="https://www.uantwerpen.be/popup/nieuwsonderdeel.aspx?newsitem_id=2221&c=LANDP1032&n=224991" target="_blank"> Click here for some information about my research at the University of Antwerp</a>. I mainly use image analysis, spatial analysis and field work for my research. Before starting my PhD, I received a Msc of Geography at Ghent University with a thesis on remote sensing of wildfires.</p>
</div><!--//summary-->
</section><!--//section-->
