<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm currently finishing my PhD! I study the effect of sea level rise on coastal marshes, especially large-scale marshes loss. <a href="https://www.uantwerpen.be/en/staff/lennert-schepers/" target="_blank"> Click here for my University of Antwerp website</a>. I mainly use image analysis, spatial analysis and field work for my research. Before starting my PhD, I received a Msc of Geography at Ghent University, with a thesis on remote sensing of wildfires.</p>
</div><!--//summary-->
</section><!--//section-->
