 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Sciences</h4>
    <h5 class="meta">University of Antwerp</h5>
    <div class="time">2012 - [2017]</div>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">MSc in Geography</h4>
    <h5 class="meta">Ghent University</h5>
    <div class="time">2010 - 2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Geography</h4>
    <h5 class="meta">Ghent University</h5>
    <div class="time">2007 - 2010</div>
</div><!--//item-->
</div><!--//education-container-->
