<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PhD Student</h3>
                            <div class="time">2012 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Antwerp, Belgium</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Doing exciting research, mainly using R (which replaced traditinal GIS software), hopping around in degrading marshes in the Chesapeake bay, teaching GIS practicals, guiding excursions,...</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">President Dienst Avontuurlijke Activiteiten</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Chirojeugd Vlaanderen</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Chirojeugd Vlaanderen, the largest youth movement in Flanders, has an adventure team that instructs young people how to read maps and a compass, how to hike, how to pioneer,...<a href="https://daa.chiro.be" target="_blank"> have a look at our website (in Dutch)</a></p>
                        <p>As co-president I am responsible for organising internal and external events, meetings, representation at the national board,...
                        
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">GIS Student job</h3>
                            <div class="time">2012 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">IMDC, Antwerp</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Monitoring dredging and creating maps. Learning command line scripting optimized the repetitive tasks.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                               
            </section><!--//section-->
